body {

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

}

.texto-portada {

    display: flex;
    justify-content: center;
    align-items: center;
}

#apasionados {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: red;
    font-weight: bold;
}

label {
    display: flex;
    justify-content: start;
}

#quienessomos {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulariocontacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 224, 228);
    border-radius: 5%;
}

#menu {
    color: red;
    font-weight: bold;
    font-size: xx-large;
}

.h-5 {
    height: 3em;
}

.card-text {
    font-style: oblique;
}

.full {
    display: flex;
    justify-content: center;
    align-items: center;
}